h1,p{
    color:rgb(224, 145, 27);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(9, 52, 18);
margin:50px 100px;
}
img{
    border: 1px solid #ff0303;
width:200px
}
a {
    color :#006eff;
    font-weight:bold;
}
button {
    padding: 20px;
    background-color:#03ff20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}
button:hover {
    background-color:#00690c;
    color: #fff;
}
a{
 cursor:pointer
}
#contact {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}
#contact > div {
width: 100%;
}
#container {
display: flex;
}
a>img:hover{
    scale: 1.15;
    transition:2.5s
}